.contact {
    margin: 7em 2em 0 5em;
}

.contactheading {
    font-weight: 700;
    font-size: 4.5em;
    width: 60%;
}

.contactdetails {

}

.contactdetails span {
    display: block;
    margin-bottom: 1em;
    font-weight: 500;
}

.link {
    color: rgb(55, 55, 238);
    margin-left: .2em;
}